@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1d243d;
    padding: 0;
    margin: 0;
  }
  .col-sm-5{
    margin: 0;
    top: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb( 33, 41, 66 );
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 400px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  }
  h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c6bc0; 
    font-size: 30px;
    margin-top:80px;;
  }
  
  h4 span {
    color: #dfdeee;
    font-weight: lighter;
  }
p{
  margin-top: 70px;
  color: #dfdeee;
  font-weight: lighter;
}
input[type = "email"]{
  display: block;
  margin: 20px 0;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  width: 370px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "email"]:focus {
  border: 1px solid #79A6FE;
  
}
a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.btn1 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: #5d33e6;
}
  